<div class="row">
  <div class="medium-6 column">
    <div *ngFor="#collection of mongo.collections">
      <table>
        <thead>
          <td colspan=2>collection {{collection.name}}</td>
        </thead>
        <tr><td>Estimated number of document</td><td>{{collection.numberOfDocument | number}}</td></tr>
        <tr><td>Estimated documents in memory</td><td>{{collection.numberOfDocumentInMemory | number}}</td></tr>
        <tr><td>Estimated number of indexes</td><td>{{collection.indexes.length | number}}</td></tr>
        <tr><td>Average document size</td><td>{{mongo.formatSize(collection.averageDocumentSize)}}</td></tr>
        <tr><td>Estimated data size</td><td>{{mongo.formatSize(collection.dataSize)}}</td></tr>
        <tr><td>Estimated index size</td><td>{{mongo.formatSize(collection.indexSize)}}</td></tr>
        <tr><td>Estimated storage size</td><td>{{mongo.formatSize(collection.storageSize)}}</td></tr>
        <tr><td>Estimated memory requirements</td><td>{{mongo.formatSize(collection.memoryRequirement)}}</td></tr>
      </table>
    </div>
  </div>
  <div class="medium-6 column">
    <div *ngFor="#shard of mongo.getShards()">
      <table>
        <thead>
          <td colspan=2>Shard {{shard.id}}</td>
        </thead>
        <tr><td>Estimated number of document</td><td>{{(mongo.numberOfDocument / mongo.shards) | number}}</td></tr>
        <tr><td>Estimated number of indexes</td><td>{{(mongo.numberOfIndexes)}}</td></tr>
        <tr><td>Estimated data size</td><td>{{mongo.formatSize(mongo.dataSize / mongo.shards)}}</td></tr>
        <tr><td>Estimated index size</td><td>{{mongo.formatSize(mongo.indexSize / mongo.shards)}}</td></tr>
        <tr><td>Estimated storage size</td><td>{{mongo.formatSize(mongo.storageSize / mongo.shards)}}</td></tr>
        <tr><td>Estimated memory requirements</td><td>{{mongo.formatSize(mongo.memoryRequirement / mongo.shards)}}</td></tr>
      </table>
    </div>
  </div>
</div>
