<div class="off-canvas-wrapper" style="min-height: 100%">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-left reveal-for-large" id="offCanvas" data-off-canvas>
      <div class="title-bar show-for-large show-for-xlarge">
        <div class="title-bar-left">
          <span class="title-bar-title">MongoDB sizing tool</span>
        </div>
      </div>
      <ul class="mobile-ofc vertical menu">
        <li style="padding: 15px;"><mdb-configuration>Loading...</mdb-configuration></li>
      </ul>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div data-sticky-container>
        <div class="title-bar width-hack" data-sticky data-options="marginTop:0;" style="width:100% !important; max-width: 100% !important;">
          <div class="title-bar-left hide-for-large hide-for-xlarge" >
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
            <span class="title-bar-title">MongoDB sizing tool</span>
          </div>
          <div class="title-bar-left show-for-large-up">
            <span class="title-bar-title" style="color: rgba(66, 73, 79, 0);">|</span>
          </div>
          <div class="top-bar-right">
            <p class="align-right"><a class="tiny data-dropdown-menu button" style="white-space: pre" data-toggle="action-panel"><i class="fa fa-cog"></i></a></p>
            <ul id="action-panel" class="dropdown-pane li-border" id="action-panel" data-dropdown data-close-on-click=true>
              <li><a href="#" data-open="newEntry"><i class="fa fa-plus"></i> New Collection</a></li>
              <li *ngIf="mongo.collections.length > 0" ><a href="#" (click)='save()'><i class="fa fa-file"></i> Save Project</a></li>
              <li *ngIf="mongo.collections.length <= 0" ><a href="#" (click)='load()'><i class="fa fa-file"></i> Load Project</a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="reveal" id="newEntry" data-reveal>
        <h3>New collection</h3>
        <hr />
        <mdb-newentry>Loading</mdb-newentry>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div>
        <div *ngIf="mongo.collections.length == 0">
          <p class="float-center" style="font-size: 9em; margin: auto;text-align: center; vertical-align: middle; padding-top: 15%; min-height: 700;">
          <a data-open="newEntry"><i class="fa fa-5 fa-file-text-o"></i><br /><span style="font-size: 20px">new collection</span></a></p>
        </div>
        <div *ngIf="mongo.collections.length > 0">
          <ul class="tabs" data-tabs>
            <li *ngFor="#collection of mongo.collections" class="tabs-title"><a href="{{'#' + collection.name}}" aria-selected="true" style="color: #E82121;">{{collection.name}}</a></li>
            <li style="display: table; height: 50px; float: right; margin-right: 30px"><a data-open="newEntry" style="vertical-align: middle; display: table-cell;"><i class="fa fa-plus"></i></a></li>
            <li class="tabs-title"><a href="#sizingPanel" (click)="mongo.compute()">Sizing</a></li>
          </ul>
          <div class="tabs-content" style="border-bottom: 0; min-height: 700">
            <div class="tabs-panel" *ngFor="#collection of mongo.collections" id="{{collection.name}}">
              <mdb-collection [collection]="collection">Loading...</mdb-collection>
            </div>
            <div class="tabs-panel" id="sizingPanel">
              <mdb-sizing>Loading...</mdb-sizing>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
